.indexx{
	position: relative;
	display: flex;
}
.indexx .logo_home{
	position: absolute;
	top: 30px;
	left: 20px;
	z-index: 9999;
}
.indexx .leftx{
	width: 50%;
	border-right: 1px solid red;
	position: relative;
}
.indexx .leftx img, .indexx .rightx img{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}
.indexx .rightx{
	width: 50%;
	position: relative;
}
.text_left_home a, .text_right_home a{
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FF8902;
}
.text_left_home {
	background-color:rgba(0,0,0,0.7);
	opacity: 0.8;
	padding:10px 25px;
	position: absolute;
	left: 25%;
	/*right: 50%;*/
	/*margin:0 auto;*/
	/*text-align: center;*/
	top:50%;
}
.text_right_home{
	position: absolute;
	background-color:rgba(0,0,0,0.7);
	opacity: 0.8;
	padding:10px 25px;
	right: 16%;
	/*right: 50%;*/
	/*margin:0 auto;*/
	/*text-align: center;*/
	top:50%;
}
.box-video{
	width: 100%;
	height: 400px;
	
	overflow:hidden;
	margin-bottom: 5px;
}
.video_content{
	position: relative;
	text-align: center;
	/*display: table-cell;*/
	vertical-align: middle;
	padding:120px 0;
	margin:0 auto;
	background: rgba(0,0,0,0.5);
}
.video_content:hover{
	background: transparent;
}
.video_content h3{
	text-transform: uppercase;
	font-size: 28px;
	color: #fff;
	font-weight: 300;
}
.video-button{
	margin:0 auto;
	width: 64px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
    padding-top: 5px;
}
.box-content1{
	width: 100%;
	float: left;
	display: flex;
	margin-bottom: 5px;
}
.box1-left{
	position: relative;
	width: 50%;
	float: left;
}
.rolex-home .background{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.rolex-home .background img{
	height: 100%;
	width: 100%;
}
.rolex-home .wrap{
	position: absolute;
	top:0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    overflow: hidden;
    display: table;
}
.rolex-home .wrap .wrap-content {
    position: relative;
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.rolex-home .wrap .wrap-content h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}
.box1-right{
	width: 50%;
	float: left;
	position: relative;
}
.rolex-home .wrap:hover {
    background: transparent;
}
.my-post{
	width: 100%;
	float: left;
	margin-bottom: 5px;
	position: relative;
}
.my-post .background{
	top:0;
	left: 0;
}
.my-post .wrapx{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease;
    overflow: hidden;
}
.my-post .wrapx:hover{
	background: transparent;
}
.my-post .middle{
	position: relative;
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 200px 0px;
    text-align: center;
    /*display: table-cell;*/
    vertical-align: middle;
    color: #fff;
}
.my-post .middle h3{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
}
.wrapx h4{
	margin-top: 30px;
}
.wrapx h4 a{
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	border:1px solid #fff;
	padding: 10px 15px;
}
.submenux ul.dropdown-menu{
	background: #222222;
}
.submenux ul.dropdown-menu li a{
	color: #fff;
	text-align: left;
}
.submenux ul.dropdown-menu li:hover a{
	color: #000 !important;
}
.banner_idea{
	width: 100%;
	float: left;
	position: relative;
}
.banner_idea img{
	width: 100%;
	max-height: 400px;
}
.banner_idea h2{
	position: absolute;
	text-align: center;
	top:30%;
	width: 100%;
	color: #fff;
	font-size: 40px;
	/*margin:0 auto;*/
}
.content_detail_idea{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.name_idea{
	font-weight: bold;
	font-size: 26px;
	margin-top: 0px;
}
.content_detail_idea .left{
	border-right: 1px solid #ccc;
}
.content_detail_idea .media-heading a{
	color: #000;
	font-size: 15px;
}
.date-create{
	font-size: 13px;
	color: #595959 !important;
}
.info-brecrum{
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #fff;
}
.content_idea{
	margin-top: 20px;
	width: 100%;
	float: left;
}
.name_idea{
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 3px;
}
.name_idea a:hover{
	color: #589DCA;
}
.zoom{	
	display: block;
	overflow: hidden;
	position: relative;
}

.rollover i{
	/*background-color: rgba(37,128,186,0.71);*/
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: none;
}
.rollover i:after{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
.rollover:hover i{
	display: block;

}
.zoom img{
	transition: all 0.4s ease;
}

.zoom:hover img{
	transform: scale(1.1);
    -webkit-transform: scale(1.1);
    /*background: rgba(0,0,0,0.5);*/
    
}
.hover_img img{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	opacity: 0;
	z-index: 99999;
	display: block;
}
.scroll-top{
	position: fixed;
	bottom: 15px;
    width: 44px;
    height: 44px;
    right:15px;
    text-align: center;
    color: #fff;
    padding-top: 14px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    display: block;
}
.design img{
	height: 270px;
	width: 100%;
}
.mota_design{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   font-size: 14;        
   line-height: 1.2;
   max-height: 33.6px;
}
.box-item-design{
	border:1px solid #ccc;
	height: 362px;
}
.box-info-design{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.box-album{
	padding-left: 5px;
	padding-right: 5px;
}
.imglist img{
	width: 100%;
	height: 180px;
}
.album-image{
	margin-top: 20px;
}